OWNER_NAME="•🥷🏿𝐂𝐀𝐏𝐎🇸🇳𝐋𝐄🎗𝐆𝐄𝐍𝐈𝐄💀🐐•"
PREFIX="."
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="non"
BOT_NAME= "FLASH-MD"
IMAGE_MENU= "https://static.animecorner.me/2023/08/op2.jpg"
NUMERO_OWNER= "221753369896"
OWNER_NAME= "᚛•🥷🏿𝐂𝐀𝐏𝐎🇸🇳𝐋𝐄🎗𝐆𝐄𝐍𝐈𝐄💀🐐•᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= "HRKU-0ace0a4d-54bb-496c-922c-af6df781665e"
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='no'
